<div class="container">
    <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <!--div class="rounded-circle" style="width:110px;height:110px;background:white;padding:15px;">
                <img src="img/dovisit_logo_small.png" style="width:85%; border-radius:inherit">
            </div-->
            <ul class="list-inline mb-2">
                <a id="text57" class="list-inline-item  cms btn btn-outline-primary" data-page="about">

                </a>
                <!--li class="list-inline-item">&sdot;</li-->
                <a id="text58" class="list-inline-item cms btn btn-outline-primary" data-page="contact">

                </a>
                <!--li class="list-inline-item">&sdot;</li-->
                <a id="text59" class="list-inline-item cms btn btn-outline-primary" data-page="terms">

                </a>
                <!--li class="list-inline-item cms" data-page="about">&sdot;</li-->
                <a id="text60" class="list-inline-item cms btn-outline-primary" data-page="privacy">

                </a>
                <a class="list-inline-item cms btn-outline-primary" data-page="api">
                    Api
                </a>
                <a class="list-inline-item cms btn-outline-primary" data-page="showCase">
                    showCase
                </a>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; dovis.it 2021. All Rights Reserved.
        </div>

    </div>
</div>