/*   Created with UIO: stap-software.com/uio ©  - All rights reserved     */
/*     --------- ------------------ ProjectName: P_coins_instance65_application99_module999--------- ------------------     */
/*     Creation time:2023-12-27T16:55:18.831Z 	Project-version: 1649167882     */


#copyrightText{
	bottom:10px;
	font-size:0.35rem;
	}


#section1{
	}


/* ----------------
	id: m10UIOwidget103
	widget-type: window
	Description of widget103
 ----------------*/
#widget103 {
    position:absolute;
    left:40px;
    top:85px;
    width:745px;
    height:540px;
}

/* ----------------
	id: m10UIOwidget105
	widget-type: input
	Description of widget105
 ----------------*/
#widget105 {
    position:absolute;
    left:25px;
    top:40px;
    width:705px;
    height:205px;
}

/* ----------------
	id: m10UIOwidget106
	widget-type: output
	Description of widget106
 ----------------*/
#widget106 {
    position:absolute;
    left:25px;
    top:255px;
    width:700px;
    height:265px;
}

/* ----------------
	id: m10UIOwidget107
	widget-type: selection
	Description of widget107
 ----------------*/
#widget107 {
    position:absolute;
    left:22px;
    top:27px;
    width:115px;
    height:30px;
}

/* ----------------
	id: m10UIOwidget108
	widget-type: button
	Description of widget108
 ----------------*/
#widget108 {
    position:absolute;
    left:475px;
    top:70px;
    width:80px;
    height:25px;
}

/* ----------------
	id: m10UIOwidget109
	widget-type: mTextField
	Description of widget109
 ----------------*/
#widget109 {
    position:absolute;
    left:40px;
    top:80px;
    width:150px;
    height:30px;
}

/* ----------------
	id: m10UIOwidget110
	widget-type: table
	Description of widget110
 ----------------*/
#widget110 {
    position:absolute;
    left:15px;
    top:25px;
    width:300px;
    height:170px;
}

/* ----------------
	id: m10UIOwidget111
	widget-type: textParagraph
	Description of widget111
 ----------------*/
#widget111 {
    position:absolute;
    left:365px;
    top:35px;
    width:205px;
    height:200px;
}

/* ----------------
	id: m10UIOwidget115
	widget-type: window
	Description of widget115
 ----------------*/
#widget115 {
    position:absolute;
    left:40px;
    top:655px;
    width:750px;
    height:185px;
}

/* ----------------
	id: m10UIOwidget116
	widget-type: textList
	Description of widget116
 ----------------*/
#widget116 {
    position:absolute;
    left:35px;
    top:23px;
    width:165px;
    height:100px;
}

/* ----------------
	id: m10UIOwidget117
	widget-type: image
	Description of widget117
 ----------------*/
#widget117 {
    position:absolute;
    left:440px;
    top:25px;
    width:130px;
    height:90px;
}

/* ----------------
	id: m10UIOwidget118
	widget-type: label
	Description of widget118
 ----------------*/
#widget118 {
    position:absolute;
    left:245px;
    top:35px;
    width:125px;
    height:30px;
}

/* ----------------
	id: m10UIOwidget120
	widget-type: httpUrl
	Description of widget120
 ----------------*/
#widget120 {
    position:absolute;
    left:60px;
    top:115px;
    width:125px;
    height:25px;
}


.textList {
      background: white; 
      color: #004085; 
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	  border: 1px dotted; 	  border-radius: 7px;     
/* Write your customizations for this class */



}

.image {

    overflow: hidden;
    
/* Write your customizations for this class */



}

.UIOSection {

    background: white; 
      color: rgba(0, 0, 0, 1.0); 
      border: 1px rgba(0, 0, 0, 1.0) solid;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	     border-radius: 17px; 
	     box-shadow: inset 0px 0px 11px -2px rgba(0, 0, 0, 1.0); 
      -webkit-box-shadow: inset 0px 0px 11px -2px rgba(0, 0, 0, 1.0); 
    
/* Write your customizations for this class */



}

.label {
      background: white; 
      color: #004085; 
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	  border: 1px dotted; 	  border-radius: 7px;     
/* Write your customizations for this class */



}

.output {

    border:1px solid #0dcaf0;
    background:white;    
/* Write your customizations for this class */



}

.button {
      background: white; 
      color: #004085; 
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	  border: 1px dotted; 	  border-radius: 7px;     
/* Write your customizations for this class */



}

.input {

    border:1px solid #0dcaf0;
    background:white;    
/* Write your customizations for this class */



}

.textParagraph {

    overflow: auto;
      background: white; 
      color: #004085; 
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	  border: 1px dotted; 	  border-radius: 7px;     
/* Write your customizations for this class */



}

.selection {
      background: white; 
      color: #004085; 
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	  border: 1px dotted; 	  border-radius: 7px;     
/* Write your customizations for this class */



}

.httpUrl {
      background: white; 
      color: #004085; 
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	  border: 1px dotted; 	  border-radius: 7px;     
/* Write your customizations for this class */



}

.mTextField {
      background: white; 
      color: #004085; 
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	  border: 1px dotted; 	  border-radius: 7px;     
/* Write your customizations for this class */



}

.window {

    background: white; 
      color: rgba(0, 0, 0, 1.0); 
      border: 1px rgba(0, 0, 0, 1.0) solid;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	     border-radius: 17px; 
	     box-shadow: inset 0px 0px 11px -2px rgba(0, 0, 0, 1.0); 
      -webkit-box-shadow: inset 0px 0px 11px -2px rgba(0, 0, 0, 1.0); 
        
/* Write your customizations for this class */



}

.table {

    overflow: auto;
      background: white; 
      color: #004085; 
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	  border: 1px dotted; 	  border-radius: 7px;     
/* Write your customizations for this class */



}

.image img{
    width: 100%;
     height: auto; 
     display: block;
}

.table table{
    width: 100%;
}

.table thead {
    background-color:#7db6e2;
}