/*   Created with UIO: stap-software.com/uio ©  - All rights reserved     */
/*     --------- ------------------ ProjectName: P_blog_instance65_application99_module999--------- ------------------     */
/*     Creation time:2023-12-21T09:26:02.693Z 	Project-version: 1680816055     */

/* -------------/*   Created with UIO: stap-software.com/uio ©  - All rights reserved     */
/*     --------- ------------------ ProjectName: P_blog_instance65_application99_module999--------- ------------------     */
/*     Creation time:2023-12-21T09:26:02.693Z 	Project-version: 1680816055     */
 -------------*/
#copyrightText{
	bottom:10px;
	font-size:0.35rem;
	}


#section1{
	}


/* ----------------
	id: m30UIOwidget103
	iwidget-type: Window
	 Top Area with menu and other stuff
 ----------------*/


#widget103 {
    position:absolute;
    left:20px;
    top:90px;
    width:770px;
    height:150px;
}
/* ----------------
	id: m30UIOwidget104
	iwidget-type: Window
	 Here we see the articles
 ----------------*/


#widget104 {
    position:absolute;
    left:20px;
    top:250px;
    width:525px;
    height:595px;
}
/* ----------------
	id: m30UIOwidget105
	iwidget-type: image
	 Logo on top left position
 ----------------*/


#widget105 {
    position:absolute;
    left:35px;
    top:5px;
    width:100px;
    height:50px;
}
/* ----------------
	id: m30UIOwidget106
	iwidget-type: mTxtfld
	 Username (must disappear after login and be replaced with a text or i
mage of the user)

 ----------------*/


#widget106 {
    position:absolute;
    left:605px;
    top:5px;
    width:150px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget107
	iwidget-type: mTxtfld
	 Password field (must disappear after login and replaced by current ti
me or similar)

 ----------------*/


#widget107 {
    position:absolute;
    left:605px;
    top:40px;
    width:150px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget108
	iwidget-type: mBtn
	 Login button (must disappear after click and replaced by signout-button)
 ----------------*/


#widget108 {
    position:absolute;
    left:615px;
    top:75px;
    width:135px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget109
	iwidget-type: mSelect
	 Menu2 with newest article or similar
 ----------------*/


#widget109 {
    position:absolute;
    left:35px;
    top:60px;
    width:510px;
    height:45px;
}
/* ----------------
	id: m30UIOwidget111
	iwidget-type: Window
	 Here comes a list with all the passed articles, sorted in chronological order
 ----------------*/


#widget111 {
    position:absolute;
    left:570px;
    top:255px;
    width:210px;
    height:595px;
}
/* ----------------
	id: m30UIOwidget112
	iwidget-type: Output
	 Here comes the main article with some picture on top left
 ----------------*/


#widget112 {
    position:absolute;
    left:15px;
    top:15px;
    width:490px;
    height:355px;
}
/* ----------------
	id: m30UIOwidget113
	iwidget-type: image
	 The main article should always have a picture in top left
 ----------------*/


#widget113 {
    position:absolute;
    left:45px;
    top:15px;
    width:155px;
    height:75px;
}
/* ----------------
	id: m30UIOwidget114
	iwidget-type: mTxtPrgrph
	 The main article should be have a big visible text
 ----------------*/


#widget114 {
    position:absolute;
    left:5px;
    top:105px;
    width:470px;
    height:230px;
}
/* ----------------
	id: m30UIOwidget115
	iwidget-type: mTxtPrgrph
	 A nice header for the main article
 ----------------*/


#widget115 {
    position:absolute;
    left:215px;
    top:20px;
    width:245px;
    height:70px;
}
/* ----------------
	id: m30UIOwidget116
	iwidget-type: Output
	 Here come other recent articles
 ----------------*/


#widget116 {
    position:absolute;
    left:15px;
    top:380px;
    width:490px;
    height:195px;
}
/* ----------------
	id: m30UIOwidget117
	iwidget-type: mTxtPrgrph
	 Older first article
 ----------------*/


#widget117 {
    position:absolute;
    left:37px;
    top:22px;
    width:120px;
    height:155px;
}
/* ----------------
	id: m30UIOwidget118
	iwidget-type: mTxtPrgrph
	 Older article 2
 ----------------*/


#widget118 {
    position:absolute;
    left:190px;
    top:20px;
    width:120px;
    height:155px;
}
/* ----------------
	id: m30UIOwidget119
	iwidget-type: mTxtPrgrph
	 Older article 3
 ----------------*/


#widget119 {
    position:absolute;
    left:340px;
    top:20px;
    width:115px;
    height:155px;
}
/* ----------------
	id: m30UIOwidget120
	iwidget-type: Window
	 Footer with data privacy, cookies a.s.o.
 ----------------*/


#widget120 {
    position:absolute;
    left:20px;
    top:865px;
    width:760px;
    height:80px;
}
/* ----------------
	id: m30UIOwidget121
	iwidget-type: mSelect
	 Links of older articles sorted by topic 1
 ----------------*/


#widget121 {
    position:absolute;
    left:5px;
    top:30px;
    width:180px;
    height:115px;
}
/* ----------------
	id: m30UIOwidget122
	iwidget-type: mSelect
	 Links of older articles sorted by topic 1
 ----------------*/


#widget122 {
    position:absolute;
    left:5px;
    top:150px;
    width:180px;
    height:165px;
}
/* ----------------
	id: m30UIOwidget123
	iwidget-type: mSelect
	 Links of older articles sorted by topic 3
 ----------------*/


#widget123 {
    position:absolute;
    left:5px;
    top:320px;
    width:185px;
    height:265px;
}
/* ----------------
	id: m30UIOwidget124
	iwidget-type: mLink
	Description of widget124
 ----------------*/


#widget124 {
    position:absolute;
    left:0px;
    top:35px;
    width:165px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget125
	iwidget-type: mLink
	Description of widget125
 ----------------*/


#widget125 {
    position:absolute;
    left:0px;
    top:70px;
    width:165px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget126
	iwidget-type: mLink
	Description of widget126
 ----------------*/


#widget126 {
    position:absolute;
    left:5px;
    top:125px;
    width:160px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget127
	iwidget-type: mLink
	Description of widget127
 ----------------*/


#widget127 {
    position:absolute;
    left:5px;
    top:90px;
    width:160px;
    height:20px;
}
/* ----------------
	id: m30UIOwidget128
	iwidget-type: mLink
	Description of widget128
 ----------------*/


#widget128 {
    position:absolute;
    left:5px;
    top:55px;
    width:165px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget129
	iwidget-type: mLink
	Description of widget129
 ----------------*/


#widget129 {
    position:absolute;
    left:5px;
    top:180px;
    width:170px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget130
	iwidget-type: mLink
	Description of widget130
 ----------------*/


#widget130 {
    position:absolute;
    left:5px;
    top:220px;
    width:165px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget132
	iwidget-type: mLink
	Description of widget132
 ----------------*/


#widget132 {
    position:absolute;
    left:5px;
    top:140px;
    width:170px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget133
	iwidget-type: mLink
	Description of widget133
 ----------------*/


#widget133 {
    position:absolute;
    left:5px;
    top:95px;
    width:170px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget134
	iwidget-type: mLink
	Description of widget134
 ----------------*/


#widget134 {
    position:absolute;
    left:5px;
    top:55px;
    width:170px;
    height:20px;
}
/* ----------------
	id: m30UIOwidget135
	iwidget-type: mLink
	Description of widget135
 ----------------*/


#widget135 {
    position:absolute;
    left:90px;
    top:25px;
    width:110px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget136
	iwidget-type: mLink
	Description of widget136
 ----------------*/


#widget136 {
    position:absolute;
    left:225px;
    top:30px;
    width:110px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget137
	iwidget-type: mLink
	Description of widget137
 ----------------*/


#widget137 {
    position:absolute;
    left:360px;
    top:30px;
    width:110px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget138
	iwidget-type: mLink
	Description of widget138
 ----------------*/


#widget138 {
    position:absolute;
    left:505px;
    top:30px;
    width:110px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget139
	iwidget-type: mSelect
	Description of widget139
 ----------------*/


#widget139 {
    position:absolute;
    left:170px;
    top:5px;
    width:415px;
    height:45px;
}
/* ----------------
	id: m30UIOwidget141
	iwidget-type: mTxtfld
	 Search for an article
 ----------------*/


#widget141 {
    position:absolute;
    left:40px;
    top:115px;
    width:355px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget166
	iwidget-type: mLink
	 Every article must have an edit article link if user is logged in as editor
 ----------------*/


#widget166 {
    position:absolute;
    left:40px;
    top:140px;
    width:110px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget173
	iwidget-type: mLink
	 Edit link for the main article opens the edit page
 ----------------*/


#widget173 {
    position:absolute;
    left:365px;
    top:325px;
    width:110px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget175
	iwidget-type: mBtn
	 After click on search the reuslts must appear in new window
 ----------------*/


#widget175 {
    position:absolute;
    left:375px;
    top:-5px;
    width:80px;
    height:25px;
}

#section2{
	    visibility:hidden;
}


/* ----------------
	id: m30UIOwidget143
	iwidget-type: Window
	Description of widget143
 ----------------*/


#widget143 {
    position:absolute;
    left:30px;
    top:145px;
    width:735px;
    height:855px;
}
/* ----------------
	id: m30UIOwidget144
	iwidget-type: mBtn
	 Back to Homepage button
 ----------------*/


#widget144 {
    position:absolute;
    left:245px;
    top:815px;
    width:200px;
    height:30px;
}
/* ----------------
	id: m30UIOwidget145
	iwidget-type: Output
	 Here we can read the selected article
 ----------------*/


#widget145 {
    position:absolute;
    left:25px;
    top:45px;
    width:700px;
    height:755px;
}
/* ----------------
	id: m30UIOwidget146
	iwidget-type: mTxtPrgrph
	 Header of selected article
 ----------------*/


#widget146 {
    position:absolute;
    left:40px;
    top:15px;
    width:460px;
    height:50px;
}
/* ----------------
	id: m30UIOwidget147
	iwidget-type: image
	Description of widget147
 ----------------*/


#widget147 {
    position:absolute;
    left:40px;
    top:80px;
    width:120px;
    height:65px;
}
/* ----------------
	id: m30UIOwidget148
	iwidget-type: mTxtPrgrph
	Description of widget148
 ----------------*/


#widget148 {
    position:absolute;
    left:35px;
    top:165px;
    width:640px;
    height:575px;
}
/* ----------------
	id: m30UIOwidget149
	iwidget-type: mTxtPrgrph
	Description of widget149
 ----------------*/


#widget149 {
    position:absolute;
    left:200px;
    top:75px;
    width:470px;
    height:70px;
}
/* ----------------
	id: m30UIOwidget150
	iwidget-type: Window
	 must be the same on all pages
 ----------------*/


#widget150 {
    position:absolute;
    left:30px;
    top:60px;
    width:730px;
    height:70px;
}
/* ----------------
	id: m30UIOwidget151
	iwidget-type: Window
	 Must be the same on all pages
 ----------------*/


#widget151 {
    position:absolute;
    left:30px;
    top:1025px;
    width:725px;
    height:80px;
}

#section3{
	    visibility:hidden;
}


/* ----------------
	id: m30UIOwidget153
	iwidget-type: Window
	Description of widget153
 ----------------*/


#widget153 {
    position:absolute;
    left:30px;
    top:180px;
    width:715px;
    height:625px;
}
/* ----------------
	id: m30UIOwidget154
	iwidget-type: Window
	Description of widget154
 ----------------*/


#widget154 {
    position:absolute;
    left:30px;
    top:80px;
    width:715px;
    height:90px;
}
/* ----------------
	id: m30UIOwidget155
	iwidget-type: Window
	Description of widget155
 ----------------*/


#widget155 {
    position:absolute;
    left:30px;
    top:830px;
    width:715px;
    height:110px;
}
/* ----------------
	id: m30UIOwidget159
	iwidget-type: Output
	Description of widget159
 ----------------*/


#widget159 {
    position:absolute;
    left:25px;
    top:40px;
    width:660px;
    height:500px;
}
/* ----------------
	id: m30UIOwidget161
	iwidget-type: mLink
	Description of widget161
 ----------------*/


#widget161 {
    position:absolute;
    left:20px;
    top:75px;
    width:590px;
    height:30px;
}
/* ----------------
	id: m30UIOwidget162
	iwidget-type: mLink
	Description of widget162
 ----------------*/


#widget162 {
    position:absolute;
    left:20px;
    top:30px;
    width:585px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget163
	iwidget-type: mLink
	Description of widget163
 ----------------*/


#widget163 {
    position:absolute;
    left:20px;
    top:125px;
    width:585px;
    height:25px;
}
/* ----------------
	id: m30UIOwidget164
	iwidget-type: mLink
	Description of widget164
 ----------------*/


#widget164 {
    position:absolute;
    left:20px;
    top:170px;
    width:585px;
    height:25px;
}

#section4{
	    visibility:hidden;
}


/* ----------------
	id: m30UIOwidget168
	iwidget-type: Window
	 Here we write a new or update existing articles
 ----------------*/


#widget168 {
    position:absolute;
    left:30px;
    top:225px;
    width:715px;
    height:585px;
}
/* ----------------
	id: m30UIOwidget169
	iwidget-type: Window
	Description of widget169
 ----------------*/


#widget169 {
    position:absolute;
    left:30px;
    top:130px;
    width:710px;
    height:80px;
}
/* ----------------
	id: m30UIOwidget170
	iwidget-type: Window
	Description of widget170
 ----------------*/


#widget170 {
    position:absolute;
    left:30px;
    top:830px;
    width:710px;
    height:115px;
}
/* ----------------
	id: m30UIOwidget171
	iwidget-type: Input
	 WYSIWYG tool, e .g. Summer Note
 ----------------*/


#widget171 {
    position:absolute;
    left:20px;
    top:60px;
    width:670px;
    height:510px;
}

.UIOSection {

    background: white; 
      color: rgba(0, 0, 0, 1.0); 
      border: 1px rgba(0, 0, 0, 1.0) solid;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	     border-radius: 17px; 
	     box-shadow: inset 0px 0px 11px -2px rgba(0, 0, 0, 1.0); 
      -webkit-box-shadow: inset 0px 0px 11px -2px rgba(0, 0, 0, 1.0); 
    
/* Write your customizations for this class */



}

.UIOWareWindow {

    background: white; 
      color: rgba(0, 0, 0, 1.0); 
      border: 1px rgba(0, 0, 0, 1.0) solid;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	     border-radius: 17px; 
	     box-shadow: inset 0px 0px 11px -2px rgba(0, 0, 0, 1.0); 
      -webkit-box-shadow: inset 0px 0px 11px -2px rgba(0, 0, 0, 1.0); 
        
/* Write your customizations for this class */



}

.UIOWareMockLink {
      background: white; 
      color: #004085; 
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	  border: 1px dotted; 	  border-radius: 7px;     
/* Write your customizations for this class */



}

.UIOWareMockSelectionList {
      background: white; 
      color: #004085; 
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	  border: 1px dotted; 	  border-radius: 7px;     
/* Write your customizations for this class */



}

.UIOWareOutput {

    border:1px solid #0dcaf0;
    background:white;    
/* Write your customizations for this class */



}

.UIOWareInput {

    border:1px solid #0dcaf0;
    background:white;    
/* Write your customizations for this class */



}

.UIOWareImage {

    overflow: hidden;
    
/* Write your customizations for this class */



}

.UIOWareTextChapter {

    overflow: auto;
      background: white; 
      color: #004085; 
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	  border: 1px dotted; 	  border-radius: 7px;     
/* Write your customizations for this class */



}

.UIOWareMockButton {
      background: white; 
      color: #004085; 
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	  border: 1px dotted; 	  border-radius: 7px;     
/* Write your customizations for this class */



}

.UIOWareMockTextField {
      background: white; 
      color: #004085; 
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	  border: 1px dotted; 	  border-radius: 7px;     
/* Write your customizations for this class */



}

.UIOWareImage img{
    width: 100%;
     height: auto; 
     display: block;
}

.UIOWareTable table{
    width: 100%;
}

.UIOWareTable thead {
    background-color:#7db6e2;
}