

html,
body {
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  font-family:  sans-serif;
}


/* main container */
.container {
  display: flex;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;

}

/* blog container including blue box */
.blog {
  flex: 75%;

}

button{
  border-radius: 50px;
  background-color: #007BFF;
  color: white;
  padding: 7px;
}


/* Light Blue Box */

.bluebox {
  background: #d8ebff;
  /*Background Color*/
  padding: 20px;
  /* Padding in px or %*/
  margin: 20px;
  /* margin in px or %*/
  border-radius: 15px;
  /* box roundness in px or %*/
  text-align: center;
  /* text align - left, right and center %*/
  box-shadow: 0px 41px 119px -46px rgba(148, 148, 148, 0.31);
  /*For Box Shadow*/
}


/* Blue box heading  */
.bluebox h1 {
  font-size: 25px;
}


.blue-links {
  color: #0048ff;
  font-weight: 500;
  font-size: 16px;
}


.blue-links a:visited {
  color: #0048ff;
}

.blue-links a:hover {
  color: #002175;
}


/* Short Links for example QM9XYH+ & QM9XYH++ */
.shortlink {
  margin-top: 15px;
  margin-bottom: 25px;
}

/* Logo with heading box */
.logobox {
  display: flex;
  flex-wrap: nowrap;
  text-align: left;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 30px;
  justify-content: center;
}


.logobox>div:nth-child(2) {
  padding-left: 30px;
}


/* For KEYWORDS: , ABSTRACT */
.bluemeta {
  font-size: 11px;
  /*line-height: 50%;*/
  font-weight: 400;
  color: #1f1f1f;
}




/* blog content box */
.blog-content {
  padding: 0 45px;
  margin-top: 40px;
  max-width: 95%;
}

/* blog paragraph */
.bl-content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 190%;


}

/* 
blog content list */
.bl-content li {
  font-weight: 400;
  font-size: 14px;
  line-height: 190%;
}



/* blog 3 images  */
.bl-img>img {
  width: 220px;
  height: 300px;
}

/* meta of blog */
.meta {
  font-size: 11px;
  font-weight: 500;
  line-height: 215%;
  color: #06226B;
  font-family: 'Space Mono', monospace;

}


/* For Ad Sidebar */
.adspace {
  padding-top: 20px;
  flex: 25%;
  text-align: center;


}

/* Ad Images Sidebar */
.adspace>img {
  width: 85%;
}


/* Bottom full width ad */
.bottom-ad {
  text-align: center;
  margin: 30px;
}

/* Bottom full width ad image */
.bottom-ad img {
  width: 65%;
}


/* footer container */
.footer {
  background: #06226B;
  color: #fff;
  font-size: 14px;
  padding: 40px 50px 20px;
}

/* 
footer links */
.footer a {
  color: #fff;
  text-decoration: none;
}

/* footer right button */
.footer-right-btn button {
  padding: 15px 35px;
  border: none;
  color: #000c2b;
  background: #fff;
}

/* hover on button */
.footer-right-btn button:hover {
  padding: 15px 35px;
  border: none;
  color: #000c2b;
  background: #d8ebff;
  cursor: pointer;
}

/* footer left menu */
.footer ul li {
  display: inline;
  list-style: none;
  margin-left: 20px;
  font-size: 14px;
  color: white;
}

.fmenu {
  display: flex;

}

/* footer menu */
.footermenu {
  flex: 80%;
}

/* footer menu */
.footer-right-btn {
  flex: 20%;
}



/* Footer bottom area footer credit*/
.footer-bottom {
  border-top: 1px solid #fff;
  margin-top: 30px;
  padding: 20px 20px 0;
}


/* for showing element */
.showonmobile {
  display: none;
  text-align: center;
}





@media only screen and (max-width: 768px) {

  /* Main Container */
  .container {
    flex-wrap: wrap;
    padding: 2%;
  }

  img{
    max-width: 250px;
    height: auto;
  }

  /*  showing element in small devices */
  .showonmobile {
    display: block;
  }

  /* hiding element in small devices */
  .hideonmobile {
    display: none;
  }

  /* Light blue box */
  .bluebox {
    padding-top: 15px;
    margin: 2%;
    margin-bottom: 30px;
    border-radius: 5%;
  }

  /* KEYWORDS , ABSTRACT */
  .bluemeta {
    font-size: 11px;
    line-height: 110%;
  }


  /* Long Link  in bluebox */
  .long-link {
    line-height: 150%;
    font-size: 14px;
  }

  /* Blog Content Image  */
  .bl-content>img {
    width: 300px;

  }



  /* blog image center in small devices */
  .bl-img {
    text-align: center;
  }


  /* logo box for small devices */
  .logobox {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    justify-content: center;
  }


  /* logo box second div title with long links */
  .logobox>div:nth-child(2) {
    padding-left: 0;
  }



}