.listbox {
    background: white;
    padding: 30px;
    display: flex;
    margin-bottom: 20px;
}


.loong-link {
    flex: 60%;
    margin: auto;

}

.shoort-title {
    flex: 10%;
    margin: auto;
}

.action-icons {
    flex: 30%;
    display: flex;
}

.action-icons ul {
    display: flex;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
}

.action-icons li {

    padding-left: 5px;
    padding-right: 5px;
    margin: auto;

}

.action-icons ul>li>span {

    padding: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    background: #06226b;
    color: white;
}



.action-icons li {

    padding-left: 5px;
    padding-right: 5px;
    margin: auto;

}




.delete-btn {
    padding: 10px;
    margin: auto;
    color: white;
    background: #a90000;
    border-radius: 20%;
}

.dataTables_scrollBody {

    overflow: hidden !important;
    max-height: none !important;
    height: auto !important;



}

@media (max-width: 1000px) {

    body {
        background: #E5F0FF !important;
        padding-left: 10px;
        padding-right: 10px;
    }

}

.loong-link a {

    text-align: left;
    width: 100%;
    overflow-wrap: anywhere;
}

@media screen and (max-width: 768px) {
    .listbox {
        flex-direction: column;
    }

    .loong-link a {
        text-align: center;
    }

    .shoort-title {
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .delete-btn {
        margin-top: 30px;
    }
}








div#urlstring {
    position: absolute;
    width: 90%;
    bottom: 50%;
    left: 5%;
    z-index: 10;
    background-color: rgb(229 236 255) !important;
    padding: 30px !important;
    box-shadow: 2px 3px 80px -40px black;
    border: 2px solid #00237e;
}



div#urlstring>.text-right {
    float: right;
}



div#urlstring #inputUsertags {
    padding: 10px;
    width: 80%;
}



div#urlstring #addTagsToShortcut {
    font-size: 2.5em;
    margin-top: 20px
}




@-moz-document url-prefix() {

    /* Your Firefox-specific CSS code goes here */
    .action-icons ul>li>span {

        padding: 10px;
        margin-left: 0px;
        margin-right: 0px;
        background: #06226b;
        color: white;
    }

    .action-icons li {
      
            padding-left: 2px;
            padding-right: 2px;
        }
    
}