td.dovis {
    padding: 0;
    font-size: 0;
    visibility: hidden;
}

label.dovis {
    color: #007bff;
}

div.dovis {
    color: #080116;
    font-size: inherit;
    box-sizing: content-box;
    word-wrap: anywhere;
}


div.dovistest {
    color: ghostwhite;
    background-color: firebrick;
    text-align: center;
    visibility: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

span.dovis {
    width: -moz-fit-content;
}


img.dovisthumb {
    width: 25px;
    max-height: 25px;
}
img.dovisadvertisement{
    width: 100px;
    max-height: 100px;
}
a.dovislink {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: small;
    font-style: italic;
    color: #007bff;
}


p.dovis_small
{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: small;
    font-style: normal;
}

.top {
    background-color: #ececec;
    padding: 1em;
    border-radius: 20px;
    border-color: #007bff;
    border-style: wave;
}

.bottom {
    background-color: #ececec;
    padding: 1em;
    border-radius: 20px;
    border-color: #007bff;
    border-style: wave;
}

div.p.dovis{
    color: #1d2124;
}

