/****
Created with UIO
www.dovis.it/uio
creation time:2023-02-07T03:16:51.760Z
*******/


#copyrightText{
	bottom:10px;
	font-size:0.35rem;
	}


#section1{
	}



#widget103 {
    position:absolute;
        left:40px;
    top:40px;
    width:645px;
    height:80px;
 
background:silver;
}

#widget104 {
    position:absolute;
        left:215px;
    top:15px;
    width:150px;
    height:25px;
 
background:silver;
}

#widget105 {
    position:absolute;
        left:25px;
    top:15px;
    width:150px;
    height:25px;
 
background:silver;
}

#widget106 {
    position:absolute;
        left:395px;
    top:15px;
    width:80px;
    height:25px;
 
background:silver;
}

#widget107 {
    position:absolute;
        left:40px;
    top:135px;
    width:750px;
    height:695px;
 
background:silver;
}

#widget108 {
    position:absolute;
        left:20px;
    top:40px;
    width:655px;
    height:425px;
 
background:silver;
}

#widget109 {
    position:absolute;
        left:10px;
    top:530px;
    width:210px;
    height:35px;
 
background:silver;
}

#widget110 {
    position:absolute;
        left:245px;
    top:530px;
    width:225px;
    height:35px;
 
background:silver;
}

#widget111 {
    position:absolute;
        left:15px;
    top:630px;
    width:150px;
    height:25px;
 
background:silver;
}

#widget112 {
    position:absolute;
        left:215px;
    top:625px;
    width:150px;
    height:25px;
 
background:silver;
}

#widget113 {
    position:absolute;
        left:400px;
    top:625px;
    width:150px;
    height:25px;
 
background:silver;
}

#widget114 {
    position:absolute;
    left:5px;
    top:40px;
    width:585px;
    height:400px;
    background:silver;
}

#widget115 {
    position:absolute;
        left:400px;
    top:575px;
    width:150px;
    height:25px;
 
background:silver;
}

#widget116 {
    position:absolute;
        left:215px;
    top:575px;
    width:150px;
    height:25px;
 
background:silver;
}

 

#widget120 {
    position:absolute;
    left:515px;
    top:50px;
    width:230px;
    height:400px;
 
    background:silver;
}

#widget121 {
    position:absolute;
        left:505px;
    top:530px;
    width:80px;
    height:25px;
 
background:silver;
}

#output120{
	width:210px;
    height:350px;
}
#output108{
	width:2px;
    height:2px;
	padding:5px;
}
.Window {
  border:1px dotted;
  padding: 15px 15px 15px 15px; 
  margin: 0px auto 0px auto; 
  display: block; 
  background: rgba(0, 255, 255, 1.0); 
  color: rgba(95, 141, 181, 1.0); 
  border-radius: 22px  ;
}

div.uioOutput {
  border:1px dotted;
  padding: 15px 15px 15px 15px; 
  margin: 0px auto 0px auto; 
  display: block; 
  background: rgba(0, 255, 255, 1.0); 
  color: rgba(95, 141, 181, 1.0); 
  border-radius: 12px  ;
  overflow-x: auto;
  overflow-y: auto;
  font-size:0.75rem;
}			   
.image {
        /* Write your customizations for this class */
}

.mLink {
        /* Write your customizations for this class */
}

.mTxtfld {
        /* Write your customizations for this class */
}

.Output {
        /* Write your customizations for this class */
}

.mBtn {
        /* Write your customizations for this class */
}