/* 
*
* Project Font's Called Start
*
*/
@font-face {
  font-family: Assistant-Regular;
  src: url(../fonts/Assistant-Regular.ttf);
}
@font-face {
  font-family: Assistant-Medium;
  src: url(../fonts/Assistant-Medium.ttf);
}
@font-face {
  font-family: Assistant-Bold;
  src: url(../fonts/Assistant-Bold.ttf);
}
/* 
*
* End
*
*/


/* 
*
* Web Page Loader Start
*
*/
.loder-var{
  position: fixed;
  background: linear-gradient(180deg, #007BFF 0%, #fff 100%);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999999999999999999999999;
  
}
:root{ 
    --color1: #222;
    --color2: #007BFF;
}
.loader{
    width: 130px;
    height: 130px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loader .dot,
.loader .dot2{
    background: var(--color2);
    border-radius: 50%;
    position: absolute;
}
.loader .dot{
    width: 18px;
    height: 18px;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    animation: spin 2.5s 0s infinite both;
}
.loader .dot2{
    width: 20px;
    height: 20px;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    animation: spin2 2.5s 0s infinite both;
}
@keyframes spin{
    0%, 100%{ 
        box-shadow: 0 0 0 var(--color1), 0 0 0 var(--color1), 0 0 0 var(--color1), 0 0 0 var(--color1), 
                        0 0 0 var(--color1), 0 0 0 var(--color1), 0 0 0 var(--color1), 0 0 0 var(--color1);
    }
    50% { transform: translateX(-50%) translateY(-50%) rotate(180deg); }
    25%, 75% { box-shadow: 28px 0 0 var(--color1), -28px 0 0 var(--color1), 0 28px 0 var(--color1), 0 -28px 0 var(--color1), 
                        20px -20px 0 var(--color1), 20px 20px 0 var(--color1), -20px -20px 0 var(--color1), -20px 20px 0 var(--color1);
    }
    100% { transform: translateX(-50%) translateY(-50%) rotate(360deg);
        box-shadow: 0 0 0 var(--color1), 0 0 0 var(--color1), 0 0 0 var(--color1), 0 0 0 var(--color1), 
                    0 0 0 var(--color1), 0 0 0 var(--color1), 0 0 0 var(--color1), 0 0 0 var(--color1);
    }
}
@keyframes spin2{
    0%, 100% { box-shadow: 0 0 0 var(--color2), 0 0 0 var(--color2), 0 0 0 var(--color2), 0 0 0 var(--color2), 
                        0 0 0 var(--color2), 0 0 0 var(--color2), 0 0 0 var(--color2), 0 0 0 var(--color2);
    }
    50% { transform: translateX(-50%) translateY(-50%) rotate(-180deg); }
    25%, 75% {  box-shadow: 52px 0 0 var(--color2), -52px 0 0 var(--color2), 0 52px 0 var(--color2), 0 -52px 0 var(--color2), 
                            38px -38px 0 var(--color2), 38px 38px 0 var(--color2), -38px -38px 0 var(--color2), 
                            -38px 38px 0 var(--color2);
                background: transparent;
    }
    100% { transform: translateX(-50%) translateY(-50%) rotate(-360deg);
        box-shadow: 0 0 0 var(--color2), 0 0 0 var(--color2), 0 0 0 var(--color2), 0 0 0 var(--color2), 
                    0 0 0 var(--color2), 0 0 0 var(--color2), 0 0 0 var(--color2), 0 0 0 var(--color2);
    }
}
/* 
*
* End
*
*/


/* 
*
* Web Jump Top Start
*
*/
#myBtn {
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  background: #007BFF;
  color: #fff;
  cursor: pointer;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: .3s;
  display: none;
  border-radius: 100px;
  transition: all 0.5s ease-in-out;
}
#myBtn:hover{
  background: #0968CE;
}
#myBtn:focus{
  background: #0968CE;
}
/* 
*
* End
*
*/