div {
    display: block;
}

#wrapper {
    width: 1000px;
    height: 800px;
    position: absolute;
    left: 2%;
    right: 2%;
    top: 2%;
}

#firstDiv {
    float: left;
    width: 15%;
    height: 130%;
    background: beige;
    z-index: -2;
}

#UIO {
    /*
    */
    position: absolute;
    height: 110%;
    background: silver;
    top: 20%;
    left: 17%;
    right: 0%;
    width: 80%;
    border-style: inset;
    border-color: black;
}

#secondDiv {
    float: left;
    width: 80%;
    height: 17%;
    background: beige;
    text-align: right;
}

#rightDiv {
    position: absolute;
    right: -20px;
    width: 10px;
    height: 100px;
}

#uioMetaData {
    position: absolute;
    top: 17%;
    left: 20%;
    text-align: left;
    padding-bottom: 2px;
    opacity: 0.25;
}

#editPage {
    opacity: 0.25;
}

#windowIcon {
    position: absolute;
    float: left;
    width: 145px;
    background: inherit;
    border-color: black;
}

#propertyScreenForm {
    position: absolute;
    left: 2%;
    top: 20%;
    right: 2%;
}

#uioInfo {
    position: absolute;
    font-size: 1.05rem;
    left: 170px;
}

#hintLogin, #hintPass {
    font-size: 0.875rem;
}

#openProjects {
    font-size: 2.25rem;
}

#exportHtmlIcon {
    font-size: 2.25rem;
}

#addProject {
    font-size: 2.25rem;
}

#uploadProject {
    font-size: 1.75rem;

    visibility:hidden;
}
/*opacity: 0.25;*/
#message {
    font-size: 0.85rem;
    background-color: #75b4da;
    color: aliceblue;
    border: 1px dotted aliceblue;
    border-radius: 5px;
    visibility: hidden;
    padding: 2px;
}

#errorMessage {
    font-size: 0.85rem;
    background-color: crimson;
    color: aliceblue;
    border: 1px dotted;
    border-radius: 5px;
    visibility: hidden;
    padding: 5px;
}

#signup {
    position: absolute;
    font-size: 0.85rem;
    left: 300px;
}

#usernameField {
    position: absolute;
    left: 360px;
    top: 5px;
    visibility: hidden;
}

#outputWidgetSelectionScreen {
    position: relative;
    top: 70%;
    left: -90px;
    border: medium solid;
    background-color: lightsteelblue;
    z-index: 1;
    visibility: hidden;
    width: 230px;
}

#passField {
    position: absolute;
    left: 610px;
    top: 5px;
    visibility: hidden;
}

#loginUserIcon {
    position: absolute;
    left: 340px;
    top: 5px;
    visibility: hidden;
    font-size: 1.25em;
}

#secret {
    position: absolute;
    left: 585px;
    top: 5px;
    visibility: hidden;
    font-size: 1.25em;
}

#sendButton {
    position: absolute;
    left: 600px;
    visibility: hidden;
    font-size: 1.25em;
    top: 50px;
}

#signin {
    position: absolute;
    font-size: 1.5em;
    right: 70px;
}

#signout {
    position: absolute;
    font-size: 1.5em;
    right: 70px;
}

#resizeWorkarea {
    position: absolute;
    right: -12px;
    bottom: -15px;
    font-size: 1.15em;
}

#ppiValue {
    background-color: skyblue;
    opacity: 1;
    transition: opacity 1s;
    width: 65px;
    /* left: 17%;
     top: 5%;*/
    font-size: 0.85em;
    border-radius: 5px;
    padding: 3px;
}

#dpi {
    height: 1in;
    left: -100%;
    position: absolute;
    top: -100%;
    width: 1in;
}

#workAreaOuterContainer {
    overflow: auto;
}

.fade {
    opacity: 0;
}

.nofade {
    opacity: 1;
}

.uioPageBig {
    font-size: 1.25em;
}

.uioPageSmall {
    font-size: 0.75em;
}

.uioApi {
    font-size: 0.75em;
    text-align: left;
}

.uioApiSelect {
    font-size: 12px;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}