/* 
*
* Web Navbar Css Start
*
*/
.navbar{
  background: #fff;
}
/*Navbar Scroll*/
.navbarScroll{
  position: fixed;
  width: 100%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  top: 0;
  left: 0;
  z-index: 9999;
}
/*Navbar Logo*/
.navbar-brand{
  font-family: Assistant-Bold;
  font-size: 30px;
  color: blue!important;
  font-weight: bold;
}
.navbar-brand img{
  max-width: 100%;
}
/*Navbar Links*/
.nav-link{
  font-family: Assistant-Medium;
  color: #222!important;
  margin-right: 15px;
  font-size: 18px;
  line-height: 40px;
}
.nav-link span{
  margin-right: 5px;
  color: #EEEEEE;
}
.nav-link i{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #007BFF;
  color: #fff;
  border-radius: 100px;
  margin-right: 5px;
}
.nav-link:hover{
  color: #007BFF!important;
}
/*Navbar Dropdown*/
.dropdown-menu{
  top: 60px;
  border: none;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.dropdown-item{
  padding: 7px 16px;
  font-family: Assistant-Medium;
  color: #222;
  font-size: 18px;
}
.dropdown-item:hover{
  color: #007BFF;
}
.dropdown-item i{
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #007BFF;
  color: #fff;
  border-radius: 100px;
  font-size: 13px;
  margin-right: 5px;
}
/*Navbar Toggler*/
.navbar-toggler{
  border: none!important;
  outline: none!important;
  border-radius: 0px!important;
  color: #007BFF;
  font-size: 25px;
}
/*Navbar Responsive*/
@media (max-width: 992px){
  .navbar{
    border-bottom: none;
  }
  .navbarMobile{
    position: absolute;
    background: #EEEEEE;
    margin: 0;
    padding: 15px;
    width: 100%;
    left: 0;
    top: 125px;
    padding: 50px 25px;
    z-index: 999999999999999;
  }
  .nav-link{
    color: #222!important;
    text-align: center;
  }
  .dropdown-menu{
    border-radius: 10px;
  }
  .dropdown-item{
    text-align: center;
  }
}
/* 
*
* End
*
*/