td.dovis {
    padding: 0;
    font-size: 0;
    visibility: hidden;
}

label.dovis {
    color: #007bff;
}

div.dovis {
    color: #007bff;
    font-size: inherit;
    box-sizing: content-box;
    word-wrap: anywhere;
}


div.dovistest {
    color: ghostwhite;
    background-color: firebrick;
    text-align: center;
    visibility: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

span.dovis{
    width: -moz-fit-content;
}


img.dovisthumb {
    width: 25px;
    max-height: 25px;
}

a.dovislink{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: small;
    font-style: italic;
}

p.dovis_small{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: x-small;
    font-style: normal;
}