body{
    background: #E5F0FF !important;
}

.navbar{
    padding: 20px !important;
    background: #fff;
}


.custom-input{
    
    padding: 15px !important;
}
.custom-btn{
    background: #06226B !important;
    padding: 10px 50px !important;
    font-size: 15px !important;
}

.herosection{
    padding:  8% 0;
}


.custom-card{
  background: transparent !important;
 
    border: 2px solid #06226B !important;
    border-radius: 0 !important;
}



.heading-line{
    height: 5px;
    width: 6%;
    background: #06226B;
    margin: auto ;
    margin-top: 20px;
  
}


footer{
    background: #06226B;
    padding: 80px;
    color: #fff;
}
.footer-title{
    font-size: 15px;
    margin-bottom: 30px;
}

.page-more-info ul li{
    list-style: none;
    color: #fff;
}
.page-more-info ul li a{
    list-style: none;
    color: #fff;
    line-height: 1.8em;
    font-size: 14px;
    text-decoration:none;
}

.get-started{
    background: #fff;
    width: 80%;
    margin: auto;
    padding: 50px;
    margin-top: 200px;
}



.bg-bluebox{
background: #06226B;
    height: 250px;
    margin-bottom: -550px;
}




.about-footer{
    font-size: 14px;
}
.about-footer img{
   height: 55px;
    padding-bottom: 30px;
}


.footer-bottom{
    font-size: 14px;
    margin-bottom: -70px;
    margin-top: 25px;
}

.footer-bottom a{
    line-height: 1.8em;
    font-size: 14px;
    text-decoration:none;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: auto;
}


.footer-bottom .col-sm-3{
    margin-right: -20px;
    padding: 0;
}

.spacing{
    height: 150px;
}










/* For Page 2 */

.open-link{
    background: #fff;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    padding: 40px;
    box-shadow: 0px 7px 96px -26px rgba(0, 0, 0, 0.25);
}




.longlinks{
    padding: 90px 10px;
    margin-top: 20px;
}

.about-contain {
    background: #fff;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    padding: 40px;
    box-shadow: 0px 7px 96px -26px rgba(0, 0, 0, 0.25);
}

.custom-medium{
    padding-top: 20px;

}


.ad-space{
    width: 90%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
color: #fff;
padding: 50px;
    background: #06226B;
}

.blog-post{
    padding: 50px;
    width: 85%;
    margin: auto;
}
.meta-desc{
    margin-bottom: 30px;
}

.blog-content .img-fluid{
    align-items: center;
height: 400px;
justify-content: center;
}

.blog-content p{
    font-size: 15px;
}

.blog-content .text-center{
   margin-top: 50px;
}





/* using custom medium for small device because bootstrap not working  */



@media (max-width: 768px) { 

    .custom-medium{
        padding-top: 20px;
        text-align: center;
    }

    .blog-post{
        padding: 50px;
        width: 100%;
        margin: auto;
    }

}
