/* 
*
* Project Typoghrapy Start
*
*/
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Assistant-Regular;
  font-size: 17px;
  background: #fff;
}
a{
  text-decoration: none;
  color: #000;
}
p{
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
/* 
*
* End
*
*/


/* 
*
* Web Link Short Form Section Start
*
*/
.web-url-short-sec{
  padding: 100px 0;
  padding-bottom: 170px;
  position: relative;
  z-index: 1;
}
.web-url-short-sec:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #007BFF;
  z-index: -1;
  opacity: .9;
}
.url-short-box{
  text-align: center;

}
.url-short-box img{
  border-radius: 100%;
}
.url-short-box h1{
  font-family: Assistant-Bold;
  color: #fff;
}
.url-short-box h4{
  margin: 25px 0;
  color: #fff;
}
.url-short-box form{}
.url-short-box input{
  border:none;
  outline: none;
  padding: 10px 20px;
  background: fff;
  width: 100%;
  position: relative;
  border-radius: 100px;
}
.url-short-box button{
  border:none;
  outline: none;
  padding: 10px 30px;
  background: #222;
  color: #fff;
  position: absolute;
  right: 15px;
  border-radius: 0 100px 100px 0;
}

/*Responsive Css*/
@media (max-width: 992px){
  .web-url-short-sec{
    
  }
}
/*SVG Bottom*/
.custom-shape-divider-bottom-1677351669 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-bottom-1677351669 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 67px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1677351669 .shape-fill {
    fill: #FFFFFF;
}
/* 
*
* End
*
*/




/* 
*
* Web About Section Start
*
*/
.web-about-sec{
  padding: 50px 0;
  background: #fff;
}
.about-sec-title{
  text-align: left;
  font-family: Assistant-Bold;
  margin-bottom: 10px;
}
.about-sec-desc{
  text-align: left;
}

.about-main-box{
  
}
.about-content{
  padding: 0 25px;
}
.about-content:nth-child(2){
  background: linear-gradient(90deg, #EEEEEE 0%, #fff 100%);
  padding: 25px;
  margin: 30px 0;
  border-radius: 25px;
}
.about-content h4{
  margin-bottom: 10px;
  font-family: Assistant-Bold;
  font-size: 22px;
}
.about-content h4 label{
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #007BFF;
  color: #fff;
  border-radius: 100px;
  font-size: 15px;
  margin-right: 5px;
  font-family: Assistant-Bold;
}
.about-content ul{
  margin-left: 15px;
}
.about-content ul li{
  padding-bottom: 5px;
}
/* 
*
* End
*
*/


/* 
*
* Web Footer Start
*
*/
.web-footer-sec{
  background: #007BFF;
  padding: 50px 0;
  padding-top: 100px;
  position: relative;
  z-index: 1;
}
.copyright-content{
  color: #fff;
}
.copyright-content p{}
.copyright-content p a{
  color: #ddd;
}

.footer-link{
  text-align: right;

}
.footer-link a{
  color: #fff;
  margin-right: 20px;
}
.footer-link a:last-child{
  margin-right: 0px;
}
/*Responsive Css*/
@media (max-width: 992px){
  .copyright-content{
    text-align: center;
    margin-bottom: 25px;
  }
  .footer-link{
    text-align: center;

  }
}
/*SVG Top*/
.custom-shape-divider-top-1677351719 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.custom-shape-divider-top-1677351719 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 67px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1677351719 .shape-fill {
    fill: #FFFFFF;
}
/* 
*
* End
*
*/