#main-content{
    min-height: 420px;
}
#settings-div {
    font-family: inherit;
    background: #007bff;
"border border-light",
    border-radius: 15 px;
    padding: 25px;
    min-height: 500px;
    width: 100%;
}

td.dovis {
    padding: 0;
    font-size: 0;
    visibility: hidden;
}

label.dovis {
    color: #007bff;
}


div.dovistest {
    color: ghostwhite;
    background-color: firebrick;
    text-align: center;
    visibility: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

span.dovis {
    width: -moz-fit-content;
}


img.dovisthumb {
    width: 25px;
    max-height: 25px;
}

img.dovisadvertisement {
    width: 100px;
    max-height: 100px;
}

a.dovislink {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: small;
    font-style: italic;
    color: #007bff;
}


p.dovis_small {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: small;
    font-style: normal;
}

.top {
    background-color: #ececec;
    padding: 1em;
    border-radius: 20px;
    border-color: #007bff;
    border-style: wave;
}

.bottom {
    background-color: #ececec;
    padding: 1em;
    border-radius: 20px;
    border-color: #007bff;
    border-style: wave;
}

div.p.dovis {
    color: #1d2124;
}
