/* 
*
* Project Font's Called Start
*
*/
@font-face {
  font-family: Assistant-Regular;
  src: url(../fonts/Assistant-Regular.ttf);
}
@font-face {
  font-family: Assistant-Medium;
  src: url(../fonts/Assistant-Medium.ttf);
}
@font-face {
  font-family: Assistant-Bold;
  src: url(../fonts/Assistant-Bold.ttf);
}
/* 
*
* End
*
*/


/* 
*
* Web Preloader Start
*
*/
.web-loader{
  position: fixed;
  z-index: 999999999;
  background: rgb(255, 255, 255, .9);
  width: 100%;
  height: 100vh;
  top: 0;
}
.loader{
    width: 100px;
    height: 100px; 
    margin: 0 auto;
    position: absolute;
  top: calc(50vh - 75px);
  left: 50%;
  transform: translateX(-50%);
} 
.loader div{
    background: #F28500;
    width: 6px;
    height: 20px;
    border-radius: 5px;
    transform-origin: 10px 35px;
    transform: rotate(0deg);
    position: absolute;
    left: 45px;
    top: 15px;
    animation: loader 0.8s infinite;
}
.loader div:nth-child(2){
    transform: rotate(45deg);
    animation-delay: 0.1s;
}
.loader div:nth-child(3){
    transform: rotate(90deg);
    animation-delay: 0.2s;
}
.loader div:nth-child(4){
    transform: rotate(135deg);
    animation-delay: 0.3s;
}
.loader div:nth-child(5){
    transform: rotate(180deg);
    animation-delay: 0.4s;
}
.loader div:nth-child(6){
    transform: rotate(225deg);
    animation-delay: 0.5s;
}
.loader div:nth-child(7){
    transform: rotate(270deg);
    animation-delay: 0.6s;
}
.loader div:nth-child(8){
    transform: rotate(315deg);
    animation-delay: 0.7s;
}
@keyframes loader{
    0%{
        background: transparent;
        transform-origin: 10px 35px;
        left: 45px;
    }
    30%{ background: #222; }
    100%{
        background: transparent;
        transform-origin: -10px 35px;
        left: 55px;
    }
}

/* 
*
* End
*
*/


/* 
*
* Web Jump Top Start
*
*/
#myBtn {
  position: fixed;
  bottom: 100px;
  right: 0;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  background: #FD5D2E;
  color: #fff;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: .3s;
  display: none;
  border-radius: 100px 0 0 100px;
  transition: all 0.5s ease-in-out;
}
#myBtn:hover{
  background: #FD5D2E;
}
#myBtn:focus{
  background: #FD5D2E;
}
/* 
*
* End
*
*/