:root {
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #b1b4be;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --header-height:0.1rem;
}
/*--
white color alternatives for general background

#f2f1ee;
#f1f2ee

*/


/*#92b8d9*/
body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    background-color: var(--white-color);
}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}
@media (min-width: 768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    header.masthead h1 {
        font-size: 3rem;
    }
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}


.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.features-icons .features-icons-item {
    max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
}

.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.testimonials .testimonial-item {
    max-width: 18rem;
}

.testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
    position: relative;
    background: #343a40;
    /*background: url("../img/bg-masthead.jpg") no-repeat center center;*/
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}


label.dovis {
    color: #007bff;
}

div.dovis {
    /*color: #92b8d9;*/
    font-size: inherit;
    box-sizing: content-box;
    word-wrap: anywhere;
    background: var(--white-color);
}




img.dovisadvertisement{
    width: 100px;
    max-height: 100px;
}


span.dbadge {
    width: 45px;
    height: 30px;
    display: inline-block;
    padding: .5em .5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .75rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #007bff;
}

span.dbadge90 {
    width: 105px;
    height: 30px;
    display: inline-block;
    padding: .5em .5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .55rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #007bff;
}

span.dbadge85 {
    width: 85px;
    height: 35px;
    display: inline-block;
    padding: .5em .5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .55rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #007bff;
}
td.dovis {
    padding: 0;
    font-size: 0;
    visibility: hidden;
}


div.dovistest {
    color: ghostwhite;
    background-color: firebrick;
    text-align: center;
    visibility: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

span.dovis {
    width: -moz-fit-content;
}

img.dovisthumb {
    width: 25px;
    max-height: 25px;
}


a.dovislink {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    color: #007bff;
}

.dovis_small {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.85rem;
    font-style: italic;
    text-align: left;
    overflow: hidden;
}
span.dovisbadge{
    font-size: 0.65rem;
    background: transparent;
}
.top {
    background-color: #ececec;
    padding: 0.25rem;
    border-radius: 5px;
    border-color: #007bff;
    /*border-style: wave;*/
    font-size: 0.75rem;
    display: -webkit-box;
    border-radius: 5px;
    width:50%;
}

.bottom {
/*    background-color: #ececec;*/
    background-color:var(--white-color);
    padding: 1em;
    border-radius: 20px;
    border-color: #007bff;
    border-style: wave;
}

.dovisColumn1{
    width:2px;
}

.dataTables tbody tr {
    min-height: 35px;
    padding-top: 1px;
}

#settings-div{
    font-family: inherit;
    background: #007bff;
}

#navbarSupportedContent{
    background: var(--white-color);
}

.dovisBackground{
    background: var(--white-color);
}

#section_signup{
    max-height: 160px;
}

#main-content{
    min-height: 420px;
}
#user-urls_wrapper{
    max-height: 800px
}

#section_signup{
    padding-top: 20px;
}
#header{
    overflow: hidden;
}
a.dovis_footer {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    font-style: italic;
    text-align: left;
    overflow: hidden;
    padding: 5px;
}

table, th, td {
    border-collapse: collapse;
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}


.right{
    display: flex !important;
    justify-content: flex-end !important;
    margin-left: auto !important;
    margin-right: 0 !important;
}

.ad{
    min-width: 250px;
    min-height: 100px;
}